@using SwastiFashionHub.Components.Display

<div class="form-field">
	<div class="label-wrap">
		<label for=@Id class="label @(Required ? "required" : "")">@Label</label>
	</div>
	<input id=@Id
		   name=@Id
		   type="text"
		   class="form-control @(!isValid ?? false ? "invalid" : "")"
		   style="width: @Width;"
		   value=@Value
		   @oninput=@(e=>Change(e.Value.ToString()))
		   @onfocusout=@(()=>{if(isValid != null) Validate();}) />
		   	
	<InputError Message=@errorMsg></InputError>
</div>