@page "/master/design"

@layout MainLayout
@inject IJSRuntime JsRuntime
@using SwastiFashionHub.Shared.Core.Models;
@using System.Linq
@using System.Reflection;
@using SwastiFashionHub.Shared.Core.Services.Interface;

<Breadcrumb Title="Designs" BreadcrumbPageTitle="Master"></Breadcrumb>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @if (ItemsData != null)
                {
                    <Datatable T="DesignViewModel"
                           Columns="@Columns"
                           Data="@ItemsData"
                           EnableFiltering=true
                           EnablePagination=true
                           EnableSorting=true>
                    </Datatable>
                }
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
