@using SwastiFashionHub.Shared.Core.Configuration;
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="account-pages my-5 pt-sm-5">
    <Toasts Position="ToastPosition.TopRight"
            Timeout="10"
            IconType="IconType.Blazored"
            ErrorIcon="error_outline"
            InfoIcon="school"
            SuccessIcon="done_outline"
            WarningIcon="warning"
            ShowProgressBar="@true"
            ShowCloseButton="@true">
        <CloseButtonContent>
            <div>
                <span class="myCloseButtonStyleClass">&times;</span>
            </div>
        </CloseButtonContent>
    </Toasts>
    
    <Spinner />

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="/" class="mb-5 d-block auth-logo">
                        <img src="/assets/images/logo-dark.png" alt="" height="22" class="logo logo-dark">
                        <img src="/assets/images/logo-light.png" alt="" height="22" class="logo logo-light">
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">
                        @Body
                    </div>
                </div>

                <div class="mt-5 text-center">
                    <p>
                        @FullYear © Swasti Fashion Hub
                    </p>
                </div>

            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

    <Alert />
    <Confirm />
</div>



@code{
    private string FullYear { get; set; } = DateTime.Now.Year.ToString();

    protected override async Task OnInitializedAsync()
    {

        await Task.Delay(1).ContinueWith(async T =>
        {
        // Do work to load page data and set properties
        await JSRuntime.InvokeVoidAsync("initAuthBackground");
        });

    }
}