<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/logo-dark.png" alt="" height="20">
            </span>
        </a>

        <a href="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="/assets/images/logo-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/assets/images/logo-light.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="/">
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end">01</span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="menu-title">Apps</li>

                <li>
                    <a href="/Calendar" class="waves-effect">
                        <i class="uil-calender"></i>
                        <span>Calendar</span>
                    </a>
                </li>

                <li>
                    <a href="/Chat" class=" waves-effect">
                        <i class="uil-comments-alt"></i>
                        <span>Chat</span>
                    </a>
                </li>

                <li>
                    <a href="/FileManager" class=" waves-effect">
                        <i class="uil-comments-alt"></i>
                        <span class="badge rounded-pill bg-success float-end">New</span>
                        <span>File Manager</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-store"></i>
                        <span>Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/EcommerceProducts">Products</a></li>
                        <li><a href="/EcommerceProductDetail">Product Detail</a></li>
                        <li><a href="/EcommerceOrders">Orders</a></li>
                        <li><a href="/EcommerceCustomers">Customers</a></li>
                        <li><a href="/EcommerceCart">Cart</a></li>
                        <li><a href="/EcommerceCheckout">Checkout</a></li>
                        <li><a href="/EcommerceShops">Shops</a></li>
                        <li><a href="/EcommerceAddProduct">Add Product</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-envelope"></i>
                        <span>Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/EmailInbox">Inbox</a></li>
                        <li><a href="/EmailRead">Read Email</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-invoice"></i>
                        <span>Invoices</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/InvoicesList">Invoice List</a></li>
                        <li><a href="/InvoicesDetail">Invoice Detail</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-book-alt"></i>
                        <span>Contacts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ContactsGrid">User Grid</a></li>
                        <li><a href="/ContactsList">User List</a></li>
                        <li><a href="/ContactsProfile">Profile</a></li>
                    </ul>
                </li>

                <li class="menu-title">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-circle"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/AuthLogin">Login</a></li>
                        <li><a href="/AuthRegister">Register</a></li>
                        <li><a href="/AuthRecoverpw">Recover Password</a></li>
                        <li><a href="/AuthLockScreen">Lock Screen</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-file-alt"></i>
                        <span>Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/PagesStarter">Starter Page</a></li>
                        <li><a href="/PagesMaintenance">Maintenance</a></li>
                        <li><a href="/PagesComingsoon">Coming Soon</a></li>
                        <li><a href="/PagesTimeline">Timeline</a></li>
                        <li><a href="/PagesFaqs">FAQs</a></li>
                        <li><a href="/PagesPricing">Pricing</a></li>
                        <li><a href="/Pages404">Error 404</a></li>
                        <li><a href="/Pages500">Error 500</a></li>
                    </ul>
                </li>

                <li class="menu-title">Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-flask"></i>
                        <span>UI Elements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/UiAlerts">Alerts</a></li>
                        <li><a href="/UiButtons">Buttons</a></li>
                        <li><a href="/UiCards">Cards</a></li>
                        <li><a href="/UiCarousel">Carousel</a></li>
                        <li><a href="/UiDropdowns">Dropdowns</a></li>
                        <li><a href="/UiGrid">Grid</a></li>
                        <li><a href="/UiImages">Images</a></li>
                        <li><a href="/UiLightbox">Lightbox</a></li>
                        <li><a href="/UiModals">Modals</a></li>
                        <li><a href="/UiOffcanvas">Offcanvas</a></li>
                        <li><a href="/UiRangeSlider">Range Slider</a></li>
                        <li><a href="/UiSessionTimeout">Session Timeout</a></li>
                        <li><a href="/UiProgressbars">Progress Bars</a></li>
                        <li><a href="/UiPlaceholders">Placeholders</a></li>
                        <li><a href="/UiSweetAlert">Sweet-Alert</a></li>
                        <li><a href="/UiTabsAccordions">Tabs & Accordions</a></li>
                        <li><a href="/UiTypography">Typography</a></li>
                        <li><a href="/UiUtilities">Utilities<span class="badge rounded-pill bg-success float-end">New</span></a></li>
                        <li><a href="/UiToasts">Toasts</a></li>
                        <li><a href="/UiVideo">Video</a></li>
                        <li><a href="/UiGeneral">General</a></li>
                        <li><a href="/UiColors">Colors</a></li>
                        <li><a href="/UiRating">Rating</a></li>
                        <li><a href="/UiNotifications">Notifications</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="uil-shutter-alt"></i>
                        <span class="badge rounded-pill bg-info float-end">8</span>
                        <span>Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/FormElements">Basic Elements</a></li>
                        <li><a href="/FormValidation">Validation</a></li>
                        <li><a href="/FormAdvanced">Advanced Plugins</a></li>
                        <li><a href="/FormEditors">Editors</a></li>
                        <li><a href="/FormUploads">File Upload</a></li>
                        <li><a href="/FormRepeater">Repeater</a></li>
                        <li><a href="/FormWizard">Wizard</a></li>
                        <li><a href="/FormMask">Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-list-ul"></i>
                        <span>Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/TablesBasic">Bootstrap Basic</a></li>
                        <li><a href="/TablesDatatable">Datatables</a></li>
                        <li><a href="/TablesResponsive">Responsive</a></li>
                        <li><a href="/TablesEditable">Editable</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-chart"></i>
                        <span>Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/ChartsApex">Apex</a></li>
                        <li><a href="/ChartsChartjs">Chartjs</a></li>
                        <li><a href="/ChartsFlot">Flot</a></li>
                        <li><a href="/ChartsKnob">Jquery Knob</a></li>
                        <li><a href="/ChartsSparkline">Sparkline</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-streering"></i>
                        <span>Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/IconsUnicons">Unicons</a></li>
                        <li><a href="/IconsBoxicons">Boxicons</a></li>
                        <li><a href="/IconsMaterialDesign">Material Design</a></li>
                        <li><a href="/IconsDripicons">Dripicons</a></li>
                        <li><a href="/IconsFontAwesome">Font Awesome</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-location-point"></i>
                        <span>Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/MapsGoogle">Google</a></li>
                        <li><a href="/MapsVector">Vector</a></li>
                        <li><a href="/MapsLeaflet">Leaflet</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-share-alt"></i>
                        <span>Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);">Level 2.1</a></li>
                                <li><a href="javascript: void(0);">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->